* {
  box-sizing: border-box;
}

body {
  font-family: "Libre Baskerville", Times, serif;
  background: #f7f7f7;
  color: #434343;
}
header {
  border-top: 8px solid #2196f3;
  border-bottom: 2px solid #BDD5E9;
  box-shadow: 2px 0 4px #BCBCBC;
  margin-bottom: 64px;
  background: #fff;
}
header p.title, header p.subtitle {
  max-width: 900px;
  padding: 0 10px;
  font-variant: small-caps;
  margin: 0 auto;
}
header p.title {
  font-size: 32px;
  margin-top: 16px;
}
header p.subtitle {
  margin-bottom: 8px;
}

body > section, article {
  padding: 0 10px;
  margin: 0 auto 120px auto;
  max-width: 900px;
}
section:target h2, section:target h3, article:target h1 {
  color: #2196f3;
}
article {
  /* the padding is 116px 116px 80px 116px, from which we remove the border */
  padding: 88px 88px 72px 108px;
  background: #fff;
  border-top: 28px solid transparent;
  border-right: 28px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 4px solid transparent;
  border-image: url('card-bg.png') 28 28 8 4 repeat;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
  -moz-hyphens: auto;
  hyphens: auto;
}
h1, h2, h3 {
  font-variant: small-caps;
  text-align: center;
  font-weight: 300;
}
h1 {
  padding-top:  16px;
  padding-bottom: 16px;
  letter-spacing: .75px;
  font-size: 24px;
  line-height: 32px;
}
h2 {
  padding-top: 16px;
  padding-bottom: 0;
  margin-bottom: 0;
  letter-spacing: .75px;
  font-size: 22px;
}
h3 {
  padding-top: 16px;
  padding-bottom: 0;
  letter-spacing:.5px;
  font-size: 16px;
}
.text-font {
    font-family: "Libre Baskerville", Times, serif;
    font-size: 18px;
}

figcaption {
  text-align: left;
  font: normal normal 300 13px/18px;
  color: #9E9E9E;
  margin: 24px 0px 32px 0px;
  padding: 0 0px 24px 0;
  letter-spacing: .35px;
  font-style: italic;
  font-size: 16px;
  -moz-hyphens: auto;
  hyphens: auto;
}

figure {
  margin-left: 0px;
}
img {
  max-width: 100%; 
  height: auto;
}
a {
  color: #2196f3;
}
a, :link, :visited {
  text-decoration: none;
  color: #2196f3;
}
a:active {
  color: #64b5f6;
}

article > section:first-of-type {
  margin-top: 30px;
  margin-left: 20px;
}

article > section:first-of-type ol::before {
  display: block;
  float: left;
  width: 150px;
  margin-left: -150px;
  font-variant: small-caps;
  color: #9E9E9E;
}
article > section:first-of-type ol:first-of-type::before {
  content: 'Authors';
}

article > section:first-of-type li {
  display: inline;
}

article > section:first-of-type li::after {
  content: ',';
}

article > section:first-of-type li:last-child::after {
  content: normal;
}

.p1,.p5,.p6,.p13 {
  font-family: "Libre Baskerville", Times, serif;
  font-size: 18px;
  margin-left: 0px;
}

.p2,.p3,.p4,.p7,.p8,.p9,.p10,.p11,.p12 {
  font-family: "Libre Baskerville", Times, serif;
  font-size: 18px;
  margin-left: 50px;
}