a:link    {color:grey; background-color:transparent; text-decoration:underline}
a:visited {color:green; background-color:transparent; text-decoration:none}
a:hover   {color:red; background-color:#E9967A; text-decoration:underline}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}

body{
	font-size: 16px;
	font-family: Decorative;
	background-color: #6495ED;

}

.main{
	width:90%;
	height: 100%;
	padding:0px;
	margin:0px auto;
	background-color: #B0C4DE;
	border:1px solid black;
	box-shadow:-5px 5px 5px grey;
	border-radius: 10px 10px 10px 10px;
	overflow: hidden;


}

.iframe1::-webkit-scrollbar{
	display: none;
}
.iframe2::-webkit-scrollbar{
	display: none;
}
.iframe3::-webkit-scrollbar{
	display: none;
}
.iframe4::-webkit-scrollbar{
	display: none;
}


.iframe1{
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 20%;
	width: 100%;
	border: 0;
	overflow:hidden;
	border-radius: 10px 10px 0px 0px;
}


.doi_trei_patru{
	width:95%;
	height:400px;
	display: inline-block;
	margin:2%;	
}

.iframe2{
	width: 10%;
	height: 396px;
	float:left;
	border:1px solid black;
	border-right:7px solid grey;
	background-color:#AFEEEE;
}

.iframe3{
	height: 396px;
	width: 58%;
	float:left;
	margin-top: 0px;
	border:1px solid black;
	background-color: #E0FFFF;
}
.iframe4{
	width: 29.45%;
	height: 396px;
	float:left;
	margin-left: 70.5%;
	margin-top: -398px;
	border:1px solid black;
	background-color: #AFEEEE;
}




.contact_titlu{
	font-weight: bold;
	font-size: 20px;
	padding:10px;
	text-align:left;
	background-color:#87CEEB;
}
.contact{
	text-align:center;
	background-color:#87CEEB;
	width:100%;
	height:100px;
	display: inline-block;
	position:relative;
	border-radius: 0px 0px 10px 10px;
}
.unu{
	width:30%;
	height:100px;
	position: relative;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
}
.doi{
	width:30%;
	height:100px;
	position: relative;
	margin-left: 32%;
	margin-top: -100px;

}
.trei{
	width:25%;
	height:100px;
	position: relative;
	margin-left: 68%;
	margin-top: -100px;
	margin-right: 10px;
}
