a:link    {color:grey; background-color:transparent; text-decoration:underline}
a:visited {color:green; background-color:transparent; text-decoration:none}
a:hover   {color:red; background-color:#E9967A; text-decoration:underline}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}

body{
	text-align:center;
}